<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../iconfont/iconfont.css" />
  		<link rel="stylesheet" href="./css/denlu.min.css">
  		
		
		<!-- inject:css -->
  		<!-- endinject -->
	</head>
	<body>
			
				<div class="head-tou" id="head-tou">
					<div class="head-tou-b">
						<span class="iconfont icon-gouwuche" style="color: #FF0000;font-size: 1rem;"></span>
						<span>
							购物车
						</span>
						<span class="iconfont icon-xiajiantou"></span>
					
					<div class="pp">
						<p>无任何东西</p><br />
						<a>购物车结账</a>
					</div>
					</div>
					<div class="head-tou-a">
						<a><span class="tou-a"></span></a>
						<a><span class="tou-b"></span></a>
						<span>其他账号：</span>
						<div class="den">
							<a style="background: #00A0EA;">注册</a>
							<a>登录</a>
						</div>
						
					</div>
				</div>
		<div class="head">
				<div class="head-content">
				<img src="../index/mar/1 (6).png"  class="head-img">
				<div class="head-p"><a href="#" class="head-a ">我的购物车</a><p class="head-b iconfont icon-gouwuche"><span>你的购物车没任何东西</span></p></div>
				<div class="head-text">
					<input class="head-txt" type="text" style="width:500px;" placeholder="请输入关键词搜索" >
					<a class="head-btn"/></a>
				</div>
			</div>
				<ul class="head-navi" id="navi">
					<li><a href="#" style="background: #009fe9;">首页</a></li>
					<li><a href="#"><span>整车</span><p class="xia">自行车</p></a></li>
					<li><a href="#">车架组</a></li>
					<li><a href="#">配件</a></li>
					<li><a href="#"><span>咨询</span><p class="xia">骑行推广大使</p></a></li>
					<li><a href="#"><span>关于我们</span><p class="xia">自行车</p></a></li>
					<li><a href="#">淘宝</a></li>
				</ul>
		</div>
		<!--左侧固定栏-->
		<div class="banner">
			<div class="banner-tou">	
				<span>请你留言</span>
				<ins class="banner-btn"></ins>
			</div>
			<div class="banner-nei">
				<p class="banner-nei-1">AVENTON 4008-600-557</p>
				<p class="banner-nei-2">客服微信：aventoncom</p>
				<div class="banner-pb">
					<textarea name="content" data-ph="请在此输入留言内容，我们会尽快与您联系。（必填）" placeholder="请在此输入留言内容，我们会尽快与您联系。（必填）" class="banner-nei-3"></textarea>
					<div class="banner-qb">
						<span class="banner-nei-a"></span>
						<input type="text" placeholder="姓名"  class="banner-nei-b"/>
					</div>
					<div class="banner-nb">
						<span class="banner-nei-c"></span>
						<input type="text" placeholder="电话：(必填)"  class="banner-nei-d"/>
					</div>
					<ins class="banner-fooret">发送</ins>
				</div>
			</div>
		</div>
		<div class="yemei">
			<span>请你留言</span>
			<ins class="banner-bt"></ins>
		</div>
		
		<a href="#" class="ll"><div class="title"></div></a>
		
		<!--右侧固定栏-->
		<div class="column">
			<a href="#"><div class="column-top"></div></a>
			<a href="#" class="column-top1"><i class="iconfont icon-xing"></i></a>
				<a>
					<div class="column-top2">
						<i class="iconfont icon-gouwuche"></i>
						<span>购物车</span>
						<p>0</p>
					</div>
				</a>
			<div class="column-top3">
				<a href="#" class="top3"><i class="iconfont icon-liuyanpinglun"></i></a>
				<a href="#" class="top3"><i class="iconfont icon-erweima"></i></a>
				<a href="#" class="top3"><i class="iconfont icon-shangjiantou"></i></a>
			</div>
		</div>
		<div class="top" title="回到顶部" _style="" style="right: 40px; bottom: 50px; display: block; opacity: 1;" _realmousein="0"></div>
		<div class="zhu">
			<div class="den-head">
				<p>会员登录</p>
				<div class="den-he">
					<table width="449" height="100px" border="0" align='center'>
					  <tr>
						<td width="116" align="right">账号：</td>
						<td width="323"><label>
						  <input type="text" name="" id="den-name" /><span id="lu"></span>
						</label></td>
					  </tr>
					  <tr>
						<td align="right">密码：</td>
						<td><label>
						  <input type="password" name="" id="den-pwd" /><span id="lu-a"></span>
						</label></td>
					  </tr>
					  
					  <tr>
						<td height="36" colspan="2" align="center"><label>
							<div class="alert"></div>
						  <input type="button" value="登录" class="dapigu" style="width: 173px;height: 40px;background:#00A0EA ;color: #FFFFFF;"/>
						</label></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-tou">
				<ul>
					<li style='background:url("mar/1 (12).png") no-repeat 80px 3px'>售后服务</li>
					<li style='background:url("mar/1 (13).png") no-repeat 65px 3px'>7天无理由退货</li>
					<li style='background:url("mar/1 (14).png") no-repeat 67px 3px'>满199元包邮</li>
					<li  style='background:url("mar/1 (16).png") no-repeat 67px 3px;border: 0;'>实物真实拍摄</li>
				</ul>
			</div>
			<div class="footer-shen">
				<div class="zuo">
					<ul style="padding-left:100px;">
						<li><a href="#">服务支持</a></li>
						<li><a href="#">售后服务</a></li>
						<li><a href="#">自助服务</a></li>
					</ul>
					<ul>
						<li>联系我们</li>
						<li>注册会员</li>
						<li>官方微信</li>
					</ul>
					<ul>
						<li>关于我们</li>
						<li>了接我们</li>
						<li>加入我们</li>
					</ul>
				</div>
				<div class="you">
					<img src="//8522754.s21i.faiusr.com/4/ABUIABAEGAAgwbOfxQUolIKEuAQwrgM4rgM!160x160.png" alt="ABUIABAEGAAgwbOfxQUolIKEuAQwrgM4rgM" style="height: 118px;margin: 37px 0 0 80px;float: left;">
					<div class="you-b">
						<p>服务热线：4008-600-557</p>
						<p>微信客服：aventoncom</p>
						<p style="color: #414d49;">新浪微博：http://weibo.com//acenton</p>
					</div>
				</div>
			</div>
				<div class="ba">
					<p>2017 Aventon 中国 版权所有</p>
					<p>浙ICP备15045485号-1</p>
					<p class="wei-a">
						<span><a hidefocus="true" href="http://m.aventonchina.com" target="_blank">手机版</a></span>
						<span>|</span>
						<span><a href="//adm.webportal.top?cacct=jhbikes" >管理登录</a></span>
					</p>
				</div>
		</div>

		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="./js/denlu.min.js"></script>
			
		<!-- inject:js -->
  		<!-- endinject -->
	</body>
</html>
<script>
						$(".dapigu").click(function() {
							var str = document.cookie;
							var arr = str.split("; ");
							for(var i = 0; i < arr.length; i++) {
								var item = arr[i].split("=");
								if(item[0] == "userlist") {
									oList = item[1];
									
								}
							}
							arrList = JSON.parse(oList); //object
							 var cookieName = arrList[0].username;
							 var cookiePwd = arrList[0].userPwd;
							var duname = $("#den-name").val();
							var dpwd = $("#den-pwd").val();
								if( cookieName == duname && cookiePwd == dpwd ){
										alert("登录成功");
										location.href = "../index/index.html"
									}else{
										alert("用户名或密码错误");
									}
							})

</script>