<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- inject:css -->
  		<!-- endinject -->
	</head>
	<body>
		<div class="head-tou" id="head-tou">
					<div class="head-tou-b">
						<span class="iconfont icon-gouwuche" style="color: #FF0000;font-size: 1rem;"></span>
						<span>
							购物车
						</span>
						<span class="iconfont icon-xiajiantou"></span>
					
					<div class="pp">
						<p>无任何东西</p><br />
						<a>购物车结账</a>
					</div>
					</div>
					<div class="head-tou-a">
						<a><span class="tou-a"></span></a>
						<a><span class="tou-b"></span></a>
						<span>其他账号：</span>
						<div class="den">
							<a style="background: #00A0EA;">注册</a>
							<a>登录</a>
						</div>
						
					</div>
				</div>
		<div class="head">
				<div class="head-content">
				<img src="../index/mar/1 (6).png"  class="head-img">
				<div class="head-p"><a href="#" class="head-a ">我的购物车</a><p class="head-b iconfont icon-gouwuche"><span>你的购物车没任何东西</span></p></div>
				<div class="head-text">
					<input class="head-txt" type="text" style="width:500px;" placeholder="请输入关键词搜索" >
					<a class="head-btn"/></a>
				</div>
			</div>
				<ul class="head-navi" id="navi">
					<li><a href="#" style="background: #009fe9;">首页</a></li>
					<li><a href="#"><span>整车</span><p class="xia">自行车</p></a></li>
					<li><a href="#">车架组</a></li>
					<li><a href="#">配件</a></li>
					<li><a href="#"><span>咨询</span><p class="xia">骑行推广大使</p></a></li>
					<li><a href="#"><span>关于我们</span><p class="xia">自行车</p></a></li>
					<li><a href="#">淘宝</a></li>
				</ul>
		</div>
		<!--左侧固定栏-->
		<div class="banner">
			<div class="banner-tou">	
				<span>请你留言</span>
				<ins class="banner-btn"></ins>
			</div>
			<div class="banner-nei">
				<p class="banner-nei-1">AVENTON 4008-600-557</p>
				<p class="banner-nei-2">客服微信：aventoncom</p>
				<div class="banner-pb">
					<textarea name="content" data-ph="请在此输入留言内容，我们会尽快与您联系。（必填）" placeholder="请在此输入留言内容，我们会尽快与您联系。（必填）" class="banner-nei-3"></textarea>
					<div class="banner-qb">
						<span class="banner-nei-a"></span>
						<input type="text" placeholder="姓名"  class="banner-nei-b"/>
					</div>
					<div class="banner-nb">
						<span class="banner-nei-c"></span>
						<input type="text" placeholder="电话：(必填)"  class="banner-nei-d"/>
					</div>
					<ins class="banner-fooret">发送</ins>
				</div>
			</div>
		</div>
		<div class="yemei">
			<span>请你留言</span>
			<ins class="banner-bt"></ins>
		</div>
		
		<a href="#" class="ll"><div class="title"></div></a>
		
		<!--右侧固定栏-->
		<div class="column">
			<a href="#"><div class="column-top"></div></a>
			<a href="#" class="column-top1"><i class="iconfont icon-xing"></i></a>
				<a>
					<div class="column-top2">
						<i class="iconfont icon-gouwuche"></i>
						<span>购物车</span>
						<p>0</p>
					</div>
				</a>
			<div class="column-top3">
				<a href="#" class="top3"><i class="iconfont icon-liuyanpinglun"></i></a>
				<a href="#" class="top3"><i class="iconfont icon-erweima"></i></a>
				<a href="#" class="top3"><i class="iconfont icon-shangjiantou"></i></a>
			</div>
		</div>
		<div class="top" title="回到顶部" _style="" style="right: 40px; bottom: 50px; display: block; opacity: 1;" _realmousein="0"></div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		
		<img src="../index/mar/2 (2).jpg" class="car-img"/>
		<div class="title"><p>AVENTON</p></div>
		<div class="main">
			<div class="main-log">
				<div class="main-kuai">
					<img src="../index/mar/2 (4).jpg"/>
					<a href="h-pd-90.html#_pp=105_414" target="_blank" title="Aventon Cordoba科多巴 2018 整车">Aventon Cordoba科多巴 2018 整车</a>
					<div class="main-size"><span style="margin-left: 90px;">￥</span><span>2999</span></div>
				</div>
				
			</div>
		</div>
			
		<!-- inject:js -->
  		<!-- endinject -->
	</body>
</html>
