html,
body,
a,
img,
p,
input,
ul,ol {
    margin: 0;
    padding: 0;
}

a,
img {
    display: block;
    text-decoration: none;
}


.head-tou {//吸顶
    height: 35px;
    background: #FFFFFF;
    width: 100%;
    z-index: 63;
        .head-tou-a{
        width: 270px;
        height: 35px;
        float: right;
        margin: 0 auto;
        margin-right: 35px;
        .den{
            float: left;
            a{
               height: 20px;
               width: 60px;
               text-align: center;
                font-size: 14px;
               margin-top:6px;
               border:1px #969896 solid ;
               margin-right: 5px;
            }
        }
        span{
            font-size: 14px;
            float: right;
            line-height: 35px;
        }
        
        a{
            width: 30px;
            height: 35px;
            float: right;
            margin: 0 auto;
            .tou-a{
                background: url("../mar/1 (1).png") 5px 9px no-repeat #ffffff;
                width: 30px;
                height: 35px;
                display: block;
                 margin: 0 auto;
            }
            .tou-b{
                background: url("../mar/1 (1).png") -50px 9px no-repeat #ffffff;
                width: 30px;
                height: 35px;
                display: block;
                 margin: 0 auto;
            }
        }
    }
     .head-tou-b{
        float: left;
        margin-left: 70px;
        margin-top: 4px;
        span{
            
            font-size: 14px;
        }
        .pp{
       width: 200px;
       height: 100px; 
       background: #FFFFFF;
       position: absolute;
       top: 35px;
       left: -50px;
       display: none;
       p{
           color: #64676E;
           font-size: 14px;
       }
       a{
           
           background: #DF5000;
           color: #FFFFFF;
           font-size: 14px;
           width: 100px;
           line-height: 40px;
        }  
    }    
  }
}


body{
    position: relative;
}

.head {
    background: #000000;
    width: 100%;
    overflow: hidden;
    .head-content {
        margin: 0 auto;
        height: 113px;
        width: 90%;
        overflow: hidden;
    }
    .head-img {
        display: block;
        height: px;
        width: 211px;
        margin-top: 18px;
        float: left;
    }
    .head-text {
        height: 30px;
        width: 550px;
        float: right;
        border: 1px #919191 solid;
        border-radius: 20px;
        margin-top: 40px;
    }
    .head-txt {
        height: 30px;
        width: 500px;
        border: 0;
        outline: none;
        float: left;
        border-radius: 20px 0 0 20px;
    }
    .head-btn {
        background: url("../mar/1 (20).png") no-repeat #ffffff;
        outline: none;
        width: 50px;
        height: 30px;
        float: left;
        border-radius: 0 20px 20px 0;
        background-position: 20px 7px;
        cursor: pointer;
    }
    .head-p{
        background-size: 23px 21px, 7px 4px;
        float: right;
        overflow: hidden;
        .head-a {
            width: 156px;
            height: 44px;
            display: block;
            color: rgb(145, 145, 145);
            font-size: 12px;
            text-decoration: none;
            text-align: center;
            line-height: 42px;
            margin: 33px 27px 0 35px;
            background: url("../../index/mar/a.png") no-repeat, url("../../index/mar/a1.jpg") no-repeat #FFFFFF;
            background-position: 3px 11px, 133px 21px;
        }
        .head-b{
            position: absolute;
            right: 90px;
            width: 400px;
            height:170px;
            background: #FFFFFF;
            z-index: 66;
             display: none;
             font-size: 5rem;
             color: #CCCCCC;
             text-align: center;
             padding-top: 30px;
        }
        span{
            font-size: 12px;
            color: #CCCCCC;
        }
    }
    .head-navi {
        //导航
        background: #2b2b2b;
        height: 35px;
        width: 100%;
        padding-left: 37px;
        z-index: 63;
        li {
            float: left;
            width: 120px;
            margin-right: 20px;
            list-style: none;
            text-align: center;
            a {
                line-height: 35px;
                text-align: center;
                text-decoration: none;
                color: #eeeced;
            }
            .xia{
                background:#00A1EA ;
                position: absolute;
                width: 120px;
                height: 35px;
                display: none;
                z-index: 63;
            }
        }
    }
}

.box{
    height: 443px;
    ol{
        position:relative;
        li{
            text-decoration: none;
            position: absolute;
            left: 0;
            top: 0;
            .img{
                width: 100%;
            }
        }
    }
}

.content {
    
    background: #e1e2e4;
    overflow: hidden;
    .content-title {
        float: left;
        width: 454px;
        margin: 157px 90px 0 0;
        span {
            color: #383f45;
            font-size: 30px;
        }
        p {
            margin-top: 10px;
            line-height: 46px;
            font-size: 16px;
            color: #64676e；
        }
        .content-middle {
            overflow: hidden;
            span {
                width: 100px;
                line-height: 74px;
                float: left;
                text-align: center;
                border: 1px solid #000000;
                border-radius: 10px;
                margin: 0 20px 0px 0;
                display: block;
            }
        }
        .content-foor {
            width: 269px;
            overflow: hidden;
            span {
                color: "#333333";
                font-size: 50px;
                font-weight: bold;
            }
            a {
                width: 103px;
                line-height: 36px;
                text-align: center;
                background: #00a0e9;
                color: #FFFFFF;
                display: inline-block;
                float: right;
                margin-top: 20px;
            }
        }
    }
}

.main {
    background: url("../mar/1 (4).jpg");
    background-position: -300px 7px;
    width: 100%;
    height: 1040px;
    overflow: hidden;
    .main-tilie {
        width: 250px;
        margin: 120px 0 0 145px;
        p {
            color: #00a1ea;
            font-size: 32px;
            font-weight: bold;
        }
        span {
            font-size: 18px;
            line-height: 58px;
            color: #FFFFFF;
        }
    }
    .main-log {
        margin: 130px 0px 0 211px;
        a {
            float: left;
        }
        .log-a {
            float: left;
            margin-top: 94px;
            margin-left: 10px;
            span {
                color: #FFFFFF;
                font-size: 18px;
            }
            p {
                color: #a2a89c;
            }
        }
    }
    .main-zhen {
        width: 603px;
        overflow: hidden;
        float: right;
        div {
            width: 300px;
            height: 300px;
            float: left;
        }
        .zhen1 {
            position: relative;
            background: url("../mar/1 (15).png");
            .din-1 {
                position: absolute;
                bottom: 54px;
                height: 30px;
            }
            p {
                width: 300px;
                color: #FFFFFF;
                text-align: center;
            }
            span {
                display: block;
                width: 100%;
                color: rgb(73, 110, 232);
                font-size: 12px;
                text-align: center;
            }
        }
        .zhen2 {
            position: relative;
            background: url("../mar/1 (17).png");
            .din-2 {
                position: absolute;
                bottom: 54px;
                height: 30px;
            }
            p {
                color: #FFFFFF;
                text-align: center;
            }
            span {
                display: block;
                width: 100%;
                color: #495348;
                font-size: 12px;
                text-align: center;
            }
        }
        .zhen3 {
            position: relative;
            background: url("../mar/1 (17).png");
            .din-3 {
                position: absolute;
                bottom: 54px;
                height: 30px;
            }
            p {
                color: #FFFFFF;
                text-align: center;
            }
            span {
                display: block;
                width: 100%;
                color: #495348;
                font-size: 12px;
                text-align: center;
            }
        }
        .zhen4 {
            position: relative;
            background: url("../mar/1 (19).png");
            .din-4 {
                position: absolute;
                bottom: 54px;
                height: 30px;
            }
            p {
                color: #FFFFFF;
                text-align: center;
            }
            span {
                display: block;
                width: 100%;
                color: #495348;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

.footer { //页尾
    background: #0e0d0b;
    width: 100%;
    .footer-tou {
        margin: 0 auto;
        height: 173px;
        width: 1200px;
        border-top: #00a0ea 2px solid;
        border-bottom: #403f3d 1px solid;
        ul {
            margin-top: 77px;
            overflow: hidden;
            li {
                list-style-type: none;
                float: left;
                width: 295px;
                line-height: 35px;
                border-right: #404040 1px solid;
                text-align: center;
                color: #403f3d;
                font-size: 14px;
            }
        }
    }
    .footer-shen {
        width: 1200px;
        margin: 0 auto;
        height: 150px;
        overflow: hidden;
        .zuo {
            height: 150px;
            float: left;
            ul {
                float: left;
                margin-top: 30px;
                li {
                    list-style: none;
                    width: 195px;
                    font-size: 16px;
                    color: #71646b;
                    line-height: 42px;
                    a {
                        display: block;
                        display: inline-block;
                        text-decoration: none;
                        color: rgb(73, 110, 232);
                    }
                }
            }
        }
        .you {
            float: left;
            .you-b {
                float: left;
                margin-top: 37px;
                p {
                    margin-bottom: 25px;
                    text-indent: 3px;
                    color: #71646b;
                }
            }
        }
    }
    .ba {
        width: 1200px;
        margin: 0 auto;
        p {
            width: 100%;
            color: #71646b;
            font-size: 14px;
            text-align: center;
        }
        .wei-a {
            margin: 0 auto;
            a {
                display: inline-block;
                color: #71646b;
                text-decoration: none;
            }
        }
    }
}




//左边固定栏
.yemei{
       display: none;
    position: fixed;
    left: 0;
    bottom: 0px;
    background: #00aef3;
    width: 240px;
    height: 35px;
    border-radius:5px 5px 0 0 ;
    z-index: 63;
    span{
        font-size: 14px;
        color: #FFFFFF;
        line-height: 35px;
        margin-left: 5px;
    }
    .banner-bt{
         display:inline-block;
        float: right;
        height: 30px;
        width: 34px;
        margin-top: 2px;
        cursor: pointer;
        background: transparent url(//sgoutong.baidu.com/embed/1536668746/asset/embed/css/pc/message/img/nodeMax.png) no-repeat;
    }
}


.banner{
    position: fixed;
    left: 0;
    bottom: 0px;
    z-index: 63;
    .banner-tou{
        background: #00aef3;
        width: 240px;
        height: 35px;
        border-radius:5px 5px 0 0 ;
        
    }
    span{
        font-size: 14px;
        color: #FFFFFF;
        line-height: 35px;
        margin-left: 5px;
    }
    .banner-btn{
        display:inline-block;
        float: right;
        height: 30px;
        width: 34px;
        margin-top: 2px;
        cursor: pointer;
            background: transparent url(//sgoutong.baidu.com/embed/1536668746/asset/embed/css/pc/message/img/nodeMin.png) no-repeat;
    }
    .banner-nei{
        width: 240px;
        background: #e8e8ea;
        overflow: hidden;
        .banner-nei-1{
            font-size: 14px;
            background-color: transparent;
            color: #666;
            line-height: 18px;
            margin: 6px 8px 0 9px;
        }
        .banner-nei-2{
                word-break: break-all;
                line-height: 18px;
                margin: 0 8px 0 9px;
                color: #999;
                font-size: 12px;
        }
        .banner-pb{    
            margin-left: 8px;
            .banner-nei-3{
                width: 212px;
                height: 79px;
                margin: 12px auto 7px;
                padding: 0 4px;
                resize: none;
                overflow: hidden;
                border: 1px solid #d5d5d5;
                background-color: #fff;
                text-align: left;
            }
            .banner-qb{
                height: 40px;
                width: 221px;
                .banner-nei-a{
                    float: left;
                        width: 35px;
                        height: 30px;
                        display: inline-block;
                        text-align: center;
                        background-color: #fff;
                        vertical-align: top;
                        border-right: 1px solid #fff;
                        background: #fff url(//sgoutong.baidu.com/embed/1536668746/asset/embed/css/pc/message/img/user.png) no-repeat 9px center;
                }
                .banner-nei-b{
                    float: left;
                    height: 30px;
                    width: 140px;
                    line-height: 30px;
                    margin: 0px auto 0;
                    border: 1px solid #d5d5d5;
                    position: relative;
                    background-color: #fff;
                    border: 0;

                }
            }
            .banner-nb{
                width: 221px;
                height: 40px;
                .banner-nei-c{
                        float: left;
                        width: 35px;
                        height: 30px;
                        display: inline-block;
                        text-align: center;
                        background-color: #fff;
                        vertical-align: top;
                        border-right: 1px solid #fff;
                            background: #fff url(//sgoutong.baidu.com/embed/1536668746/asset/embed/css/pc/message/img/nodephone.png) no-repeat 9px center;
                }
                .banner-nei-d{
                        float: left;
                        margin: 0;
                        width: 140px;
                        height: 30px;
                        line-height: 30px;
                        border: none;
                        display: inline-bloc;
                        
                }
            }
            .banner-fooret{
                    height: 35px;
                    width: 90px;
                    line-height: 35px;
                    text-align: center;
                    border-radius: 2px;
                    font-size: 14px;
                    color: #fff;
                    cursor: pointer;
                    background-color: #00aef3;
                    display: block;
                    text-decoration: none;
            }
        }
    }
}



.ll{//在线咨询
     position: fixed;
     background: #00A0EA;
     z-index: 64;
     right: 0;
     bottom: 0;
      border-radius: 5px;
    .title{
        background: transparent url(//sgoutong.baidu.com/embed/1536668746/asset/embed/css/pc/icon/img/iconWord0.png) no-repeat;
       z-index: 65;
        bottom: 0;
        right: 0;
        display: block;
        width: 140px;
        height: 50px;
        overflow: hidden;
         
    }
}




//右侧固定栏
.column{
   position: fixed;
    z-index: 63;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background-color: #202020;
    .column-top{
            margin-top: 60px;
            width: 35px;
            height: 40px;
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 40px;
            background: url("../mar/1 (22).png") -555px -570px;
            
    }
    .column-top1{
            width: 35px;
            height: 40px;
            font-size: 1.5rem;
            color: #fff;
            text-align: center;
            line-height: 40px;
            border-bottom:#000000 1px solid;
        i{
            color: #FFFFFF;
            margin-top:20px ;
        }
    }
    .column-top2{
            width: 35px;
            height: 151px;
            position: relative;
            cursor: pointer;
            height: 151px;
            width: 35px;
            text-align: center;
            border-top: #666666 1px solid;
            .iconfont{
                    width: 35px;
                    height: 40px;
                    font-size: 1.5rem;
                    color: #fff;
                    text-align: center;
                    line-height: 40px;
            }
            span{
                width: 15px;
                height: 60px;
                font-size: 14px;
                color: #ddd;
                position: absolute;
                left: 10px;
                top: 50px;
                display: block;
            }
            p{      
                    width: 20px;
                    height: 18px;
                    line-height: 18px;
                    position: absolute;
                    color: #FFF;
                    text-align: center;
                    top: 115px;
                    left: 8px;
                    background: red;
                    border-radius:50% ;
            }
    }
    .column-top3{
            position: absolute;
            bottom: 35px;
            width: 35px;
            height: 125px;
            overflow: hidden;
            color: #fff;
            text-align: center;
            line-height: 40px;
            .top3{
                color: #FFFFFF;
                font-size: 1.5rem;
            }
        }
    }


.dian{
    height: 120px;
    width: 40px;
    position: fixed;
    border-radius:30px ;
    background: #00A0EA;
    opacity:0.5;
    right: 40px;
    bottom: 100px;
    z-index: 63;
    li{
        list-style: none;
        width: 30px;
        height: 30px;
        background: #495348;
        color: #FFFFFF;
        border-radius: 50%;
        text-align: center;
        margin:0 auto;
        margin-top:7px ;
       }
}




.top{   
        position: fixed;
        right: 40px;
        bottom: 50px;
        opacity: 1;
        width: 41px;
        height: 38px;
        background: url(//g-0.ss.faisys.com/image/site/backtotop.png?v=201411241810) no-repeat;
        z-index: 63;
        
}
